/* font family */
:root {
    --base-font-family: "M PLUS 1p", sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

/* workaround for extra space in footer */
.article-footer > .article-time {
    gap: 0px;
}
